

@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@500&family=Work+Sans&display=swap');


:root{
    --var-wrg: 245;
    
}
*{
    margin: 0;
    padding: 0;
    font-size:18px;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    line-height: 21px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header{
    height:80px;
}



header ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    /* border: 2px solid red; */
    gap:50px;
    margin-right: 112px;
    height: 100%;
}


header ul li{
    margin: 0;
}


header ul li:nth-child(2){
    margin:auto;
}


header ul li a.underline_hover{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header ul li a.underline_hover:hover{
    background-size: 100% 2px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer div{
    display: flex;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orange{
    color:orange;
    font-weight: 600;
}


.footer_main_text{
    font-weight: 700;
    font-size: 2rem;


}
.footer_desc_text{
    font-weight: 400;
    font-size: 20px;

}

.main_main_text{
    font-weight: 600;
    font-size: 48px;
    height: 200px ;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.logo_text{
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    cursor:default;
    margin-left: 5px;
    color: rgba(41, 71, 169, 1);
    /* border: 2px solid green;     */
    align-items: center;
    display: flex;
    align-items: center;
    user-select: none;
}
.logo_pic{
    align-items: center;
    display: flex;
    
}

.main_photo_block{
    min-width: 100%;  
    height: 646px;

}
.logo_block{
    margin-left: 6vw;
}

.main_photo_text{
    line-height: 84px;
    font-weight: 600;
    font-size: 72px;
    position: absolute;
    margin-left:20%;     
    top:30%;
}
.main_photo_block img{
    width: 100%;
    object-fit:cover;
    object-position: center center;
    height: 648px;
    
    
}

.main_photo_block{
    max-height:648px;
    width: 100%;
    position: relative;
    -webkit-mask-image: linear-gradient( to bottom left, rgb(0, 0, 0)50%, transparent 95%);
     mask-image: linear-gradient( to bottom left, rgb(0, 0, 0)50%, transparent 95%);
    
}

.scroll_menu{
    
    background-color: #0e7ad6;
    width: 25%;
    height: 25%;
    position:absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right:0;
    
    
    justify-content:space-between;
}

.arrow{
    display: flex;
    max-height:60px;
    max-width: 60px;
    rotate: 180deg;
    
}
.left{
 
    rotate:0deg;
   
}

.scroll_main_text{
    display: flex;
    color:rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    margin-top: 20px;
    
  
}

.scroll_desc_text{
    display: flex;
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    justify-content: center
    
}
.scroll_move_text{
    
    display: flex;
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 28px;
    
    
}

.scroll_menu_move{
    background-color:rgba(41, 46, 61, 1);
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 0;
}

.scroll_back_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
    border-right: 2px solid white;
}
.scroll_next_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
    border-left: 2px solid white;
}
.task_block{
    display: flex; 
    flex-direction: column;
}

.add_task_block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 41px;
    width: 100%;

}

.add_tasks_text{
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-width: 100%;
    height: 40px;
}

.ready_tasks{
    min-height: 400px;
}

.my_tasks{
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 37px;
    border: 2px solid green;
    width: 520px;
    height: 540px;
    padding-right: 20px;
    padding-left: 20px;
}
.priority{
    display: flex;
    flex-direction: row;
    padding: 10px 8px;
    height: 100%;
    width: 109px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--neutral-100, #E0E3EB);
    background: #FFF;
    gap: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
.dropdown-content .dropdown-level {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content .dropdown-level:hover {
    background-color: #ddd
  }
  
.priority:hover .dropdown-content {
    display: block;
  }
  
.btn{
    width: 20px;
    height: 20px;
}  
.btn:hover, .priority:hover .btn {
    background-color: #0b7dda;
  }

.ready_tasks{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: start;
    align-items: center;
  }

.task_element{
    display: flex;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--neutral-100, #E0E3EB);
    background: var(--neutral-200, #C2C7D6);
    align-items: center;
    padding: 10px;
    gap:10px;
}

.task_element p{
    width:100%;
    

}
.circle{
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
}

.blue{
    background-color: #6F95F5;
}
.green{
    background-color: #67D972;
}

.red{
    background-color: #FB2A2A;
}

.new_task_textform{
    width: 251px;
    height: 100%;
    padding: 10px 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-100, #E0E3EB);
    background: #FFF;
}

.priority_textform{
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    border-radius: 4px;
    border: 1px solid var(--neutral-100, #E0E3EB);
    background: #FFF;
}

.button_add{
    color: #FFF;
    padding: 9px 25px 10px 24px;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 84px;
    border: #2947A9;
    border-radius: 10px;
    background: var(--Primary, #2947A9);
}